/*Universal rule for all elements on the page. all box elements on the page are sized same way - padding and border are included in the width and height*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

/*rule for body elements*/
body {
    background-color: #d9dcd6;
} 

/*rule for class header*/
.header { 
    padding: 20px; /*size of padding to each side*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}  /*font types, background and text color*/

/*rule for h1 element in class header*/
.header h1 {
    display: inline-block; /*no empty line after header h1, and nav elements go next to it in line*/
    font-size: 48px;
}

/*rule for class seo of h1 element in class header*/
.header h1 .seo {
    color: #d9dcd6; /*different color for 3 letters in the word*/
} 

/*rule for section nav in class header*/
.header nav { /*changed name of semantic element according to chahnges in html*/
    padding-top: 15px; /*special pedding top for nav elements instead of overal 20px*/
    margin-right: 20px; /*special pedding top for nav elements instead of overal 0*/
    float: right; /*the nav elements float the right of its container*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*rule for list in section nav in class header*/
.header nav ul { /*changed name of semantic element according to chahnges in html*/
    list-style-type: none; /*no list-item marker in a list of nav ???shows the same without this rule*/
}

/*rule for list items in section nav in class header*/
.header nav ul li { /*changed name of semantic element according to chahnges in html*/
    display: inline-block; /* nav list elements go next to each other in one line*/
    margin-left: 25px; /*left margin of each element*/ 
}

/*rule for "a" elements*/
a { 
    color: #ffffff;
    text-decoration: none; /*all links in HTML are underlined by default. this rule remove the underline from links*/
}

/*rule for class hero*/
.hero { 
    height: 800px; /*size of container of class hero*/
    width: 100%;
    margin-bottom: 25px; /*margin on the bottom 25px instead of 0 by *Universal rule*/
    background-image: url("../images/digital-marketing-meeting.jpg");/*link to background image*/
    background-size: cover; /*resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges*/
    background-position: center; /*background image in the central position of container*/
}

/*rule for class content*/
.content { 
    width: 75%; /*takes 75% of all width*/
    display: inline-block; /*no empty line after each content*/
    margin-left: 20px;
}

/*rule for class float-left*/
.float-left {
    float: left;
    margin-right: 25px;
} /*the picture element float to the left of its container with margin 25px to the right*/

/*rule for class float-right*/
.float-right {
    float: right;
    margin-left: 25px;
} /*the picture element float to the right of its container with margin 25px to the left*/

/*rule of a font size for all paragtaphs p*/
p {
    font-size: 16px;
} 

/* three same classes merged in one bellow 
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

/*rule for class main-blocs*/
.main-blocks {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* three same classes merged in one bellow
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
} */

/*rule for image size in class main-blocs*/
.main-blocks img {
    max-height: 200px;
}

/* three same classes merged in one bellow
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

/*rule for heading h2 in class main-blocs*/
.main-blocks h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*rule for class benefits*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both; /*element pushed below both left and right floated elements*/
    float: right; /*element float to the right*/
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* three same classes merged in one bellow
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
} */

/*rule for class benefit*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}


/* three same classes for img merged in one bellow
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
} */


/*rule for heading h3 of class benefit*/
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}


/* three same classes for img merged in one bellow
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

/*rule for image of class benefit*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*rule for class footer*/
.footer {
    padding: 30px;
    /*clear: both;*/ /*N/A Rule The element is pushed below both left and right floated elements. There are no elemenst to left and right in the footer, so it is N/A*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*font sixe for h4 of footer class*/
.footer h4 {
    font-size: 20px;
} 
